CADDYFILE_PATH=./caddy/Caddyfile
CADDY_DATA_PATH=./caddy/data
CADDY_CONFIG_PATH=./caddy/config
CERT_PATH=/path/to/my/cert.pem
KEY_PATH=/path/to/my/server.key
ADMIN_EMAIL=admin@example.com
OPENWEBUI_GROUP_KEY=middleware_group_key_for_openwebui
WEBUI_NAME=my_openwebui_name
OAUTH_CLIENT_ID=client_id_for_oidc
OAUTH_CLIENT_SECRET=client_secret_for_oidc
OPENID_PROVIDER_URL=my_auth_provider.site/and_probably_something_like/.well-known/openid-configuration
OAUTH_PROVIDER_NAME=my_display_name_for_oidc_option
