https://api.somewhere.com {
    tls /etc/ssl/cert.pem /etc/ssl/server.key

    handle /v1/* /health /reload /endpoints /health-status /model-to-endpoints {
        reverse_proxy middleware:9000
    }

    handle /myopenwebuihandle/api/* {
        respond "403 Forbidden" 403
    }

    handle /myopenwebuihandle {
        reverse_proxy openwebui:3000
    }

    handle {
        respond "404 Not Found" 404
    }
}