https://api.somewhere.com {
    tls /etc/ssl/cert.pem /etc/ssl/server.key

    handle /v1/* {
        reverse_proxy middleware:9000
    }

    handle /metrics {
        reverse_proxy middleware:9000
    }

    handle /health {
        reverse_proxy middleware:9000
    }

    handle /reload {
        reverse_proxy middleware:9000
    }

    handle {
        respond "404 Not Found" 404
    }
}