vllm_hosts:
  - hostname: "http://myfirstvllmserver"
    ports:
      start: 8000
      end: 8002
    allowed_groups:
      - "admin"
      - "staff"
      - "student"
      - "teaching"
      - "guest"
      - "legacy"
      - "openwebui"
  - hostname: "http://myothervllmserver"
    ports:
      start: 8004
      end: 8004
    allowed_groups:
      - "admin"
      - "staff"
      - "student"
      - "teaching"
      - "guest"
      - "legacy"
      - "openwebui"
  - hostname: "http://mythirdvllmserver"
    ports:
      start: 9962
      end: 9970
    allowed_groups:
      - "admin"
      - "staff"
      - "student"
      - "teaching"
      - "guest"
      - "legacy"
      - "openwebui"
app_settings:
  model_owner: "me"
  max_failures: 3
  cooldown_period_minutes: 5
  log_level: "INFO"
  request_timeout: 2
  admin_groups:
    - "admin"