vllm_hosts:
  - hostname: "myvllmhost.somewhere.com"
    ports:
      start: 8000
      end: 8002
    allowed_groups:
      - "admin"
      - "staff"
      - "student"
      - "teaching"
      - "guest"
      - "legacy"
  - hostname: "myothervllmhost.somewhere.com"
    ports:
      start: 8000
      end: 8000
    allowed_groups:
      - "admin"
      - "staff"
      - "student"
      - "teaching"
      - "guest"
      - "legacy"
  - hostname: "mythirdvllmhost.somewhere.com"
    ports:
      start: 9962
      end: 9970
    allowed_groups:
      - "admin"
      - "staff"
      - "student"
      - "teaching"
      - "guest"
      - "legacy"
app_settings:
  model_owner: "me"