- url: "http://myfirstvllmserver:8000"
  access_token: "super_secret_serve_token_1"
  groups:
    - "admin"
    - "staff"
    - "student"
    - "teaching"
    - "guest"
    - "legacy"
    - "openwebui"

- url: "http://myfirstvllmserver:8001"
  access_token: "super_secret_serve_token_2"
  groups:
    - "admin"
    - "staff"
    - "student"
    - "teaching"
    - "guest"
    - "legacy"
    - "openwebui"

- url: "http://myothervllmserver:8004"
  access_token: "super_secret_serve_token_3"
  groups:
    - "admin"
    - "staff"
    - "student"
    - "teaching"
    - "guest"
    - "legacy"
    - "openwebui"

- url: "http://mythirdvllmserver:9962"
  access_token: "super_secret_serve_token_4"
  groups:
    - "admin"
    - "staff"
    - "student"
    - "teaching"
    - "guest"
    - "legacy"
    - "openwebui"

- url: "http://myvllmembeddingserver:8000"
  access_token: "super_secret_serve_token_5"
  groups:
    - "admin"
    - "staff"
    - "student"
    - "teaching"
    - "guest"
    - "legacy"
    - "openwebui"
  task: "embed"

- url: "http://myothervllmembeddingserver:8000"
  access_token: "super_secret_serve_token_6"
  groups:
    - "admin"
    - "staff"
    - "student"
    - "teaching"
    - "guest"
    - "legacy"
    - "openwebui"
  task: "embed"